/* AUTOR @rewor18 2025 */

* {
    font-family: "cambria";
}

.naglowek, .stopka {
    background-color: sienna;
    color: white;
    padding: 5px;
    text-align: center;
}

.glowny {
    background-color: antiquewhite;
    height: 700px;
    font-size: 120%;
    overflow-y: scroll;
}

.kontrolki {
    width: 150px;
    margin: 10px;
}

.buty {
    width: 70%;
    margin: 15px;
    padding: 7px;
    border: solid 1px sienna;
    border-radius: 30px;
}

.buty:hover {
    background-color: linen;
}

img {
    float: left;
    margin-right: 30px;
}

h4 {
    background-color: sienna;
    color: white;
    text-align: right;
}

/* AUTOR @rewor18 2025 */